.secret_container th{
    padding: 1rem;
}
.secret_container {
    font-size: 1.1rem;
   
}
.secret_container{
    margin: 50px 100px;
}
.secret_container table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
  }
.secret_container td{
    padding: 10px;
}