.about{
    display: grid;
    place-content: center;
    
    background-size: cover; 
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
}
.about-title{
    color: white;
    font-size: min(3rem,10vw);
    text-align: center;
}

.underline{
    margin-top: 19px;
    width: 140px;
    place-self: center;
    border-bottom: 1px solid goldenrod;
}
.about-sub{
    width: auto;
    margin: 20px;
    width: 60vw;
    text-align: left;
    font-style: italic;
    font-size: min(1.5rem,5vw);
    color: var(--txt-color);
}

@media only screen and (max-width: 600px) {
    .about-sub {
      width: 85vw;
    }
}