@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
.nav-bar{
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    backdrop-filter: blur(17px);
    color: var(--txt-color);
    z-index: 1;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 1.325rem;
    padding-bottom: 1rem;
}
.logo{
    justify-self: start;
    padding-left: 6rem;
}
.nav-links{
    display: grid;
    white-space: nowrap;
    grid-auto-flow: column;
    column-gap: 3rem;
    padding-right: 6rem;
    justify-self: end;
}
.nav-links a{

    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:480px){
    .nav-bar{
        grid-template-columns: 1fr;
        gap: 0.5rem;
        font-size: 1rem;
    }
    .logo{
        justify-self: center;
        padding: 0;
        
    }
    .nav-links{
        padding-right: 0;
        font-size: 0.90rem;
        column-gap: 1.5rem;
        justify-content: center;
        justify-items: center;
        row-gap: 0.5rem;
        grid-template-columns: repeat(3,min-content);
        grid-auto-flow: row;
        justify-self: center;
    }
    .nav-links a:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
}