@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap");

:root{
  --primary-color: #000015 ;
  --secondary-color: #ef233c;
  --txt-color:#edf2f4;
  --ter-color:#e0fbfc;
}

.space5{
  height: 5rem;
}
.v-line{
  
  background: black;
}

*::selection{
  background-color: darkslategrey;
  color: white;
}



 /* * {
  border: 1px solid red;
}  */
