.page{
    text-align: center;
    background: #000019;
    padding-top: 30px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(7%2c 42%2c 79%2c 1)'%3e%3c/rect%3e%3cpath d='M195.97107103084664 40.332482253484315L279.68583532597654 105.7376243236671 345.09097739615936 22.022860028537195 261.3762131010294-43.382282041645595z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M642.8526478330414 257.1850252158014L635.3152385076597 364.97500041831313 750.6426230355531 264.7224345411831z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1092.7908448111561 605.8427075869777L1075.6659950588416 466.3719986771141 936.1952861489781 483.4968484294285 953.3201359012926 622.9675573392921z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M544.786%2c386.188C589.485%2c385.956%2c628.073%2c356.619%2c649.173%2c317.212C669.102%2c279.992%2c665.935%2c235.75%2c644.953%2c199.113C623.831%2c162.231%2c587.249%2c136.757%2c544.786%2c134.934C498.895%2c132.963%2c451.556%2c150.079%2c428.522%2c189.819C405.433%2c229.655%2c415.045%2c278.687%2c438.502%2c318.307C461.456%2c357.076%2c499.732%2c386.422%2c544.786%2c386.188' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1022.3113112874503 582.1812549076307L1024.53338536435 518.5493788281325 927.9745342066528 547.0322057525321z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M206.27074333392656 88.41121675827576L166.80917143632678 196.83099448311629 275.2289491611673 236.2925663807161 314.6905210587671 127.87278865587555z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M79.39022425579606 137.67146635467682L26.35396025778158 52.79570178731751-58.52180430957773 105.83196578533199-5.4855403115632555 190.7077303526913z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M80.021%2c210.267C102.075%2c210.307%2c121.846%2c199.008%2c134.247%2c180.771C148.702%2c159.514%2c161.234%2c132.255%2c148.092%2c110.163C135.104%2c88.331%2c105.351%2c87.69%2c80.021%2c89.618C58.623%2c91.247%2c38.747%2c100.856%2c27.809%2c119.319C16.651%2c138.154%2c15.24%2c161.587%2c26.139%2c180.573C37.082%2c199.635%2c58.041%2c210.227%2c80.021%2c210.267' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1164.12%2c647.664C1196.116%2c645.707%2c1214.906%2c615.019%2c1229.984%2c586.731C1243.876%2c560.668%2c1254.959%2c530.362%2c1240.316%2c504.713C1225.583%2c478.906%2c1193.835%2c471.14%2c1164.12%2c471.36C1134.87%2c471.577%2c1105.883%2c481.358%2c1089.855%2c505.827C1072.197%2c532.785%2c1067.702%2c567.192%2c1082.65%2c595.741C1098.66%2c626.318%2c1129.669%2c649.771%2c1164.12%2c647.664' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-73.6 30.78 a124.22 124.22 0 1 0 248.44 0 a124.22 124.22 0 1 0 -248.44 0z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1376.779%2c329.761C1419.233%2c328.215%2c1451.515%2c295.503%2c1471.675%2c258.109C1490.665%2c222.886%2c1494.304%2c181.635%2c1475.754%2c146.178C1455.729%2c107.903%2c1419.974%2c76.288%2c1376.779%2c76.73C1334.165%2c77.166%2c1302.372%2c111.154%2c1281.256%2c148.171C1260.378%2c184.772%2c1249.491%2c228.194%2c1269.108%2c265.486C1289.965%2c305.135%2c1332.009%2c331.391%2c1376.779%2c329.761' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M751.4929448047187 354.8962881671686L811.011991958575 266.6556719737921 648.8915440915821 221.49740933969616z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M139.34787046835018 203.91643202356474L234.14878043299655 270.2967438099501 205.72818225473554 109.11552205891836z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1384.8724686179376 111.72837415008942L1398.338768735397-40.520842911291 1276.2805603650434 13.822972732557005z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1287.912%2c326.839C1335.311%2c327.799%2c1377.811%2c301.026%2c1403.074%2c260.909C1430.302%2c217.671%2c1443.618%2c163.513%2c1418.94%2c118.771C1393.574%2c72.782%2c1340.417%2c50.834%2c1287.912%2c52.115C1237.661%2c53.341%2c1190.89%2c80.408%2c1167.507%2c124.904C1145.546%2c166.695%2c1156.38%2c215.851%2c1180.558%2c256.4C1204.051%2c295.801%2c1242.048%2c325.91%2c1287.912%2c326.839' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M886.2267696760468 190.9837778552714L877.5417787683461 25.264279213757476 711.8222801268322 33.94927012145817 720.5072710345329 199.6687687629721z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M935.983%2c470.659C987.079%2c472.164%2c1040.106%2c458.086%2c1067.861%2c415.159C1097.852%2c368.775%2c1102.534%2c306.499%2c1071.799%2c260.605C1043.516%2c218.372%2c986.775%2c216.285%2c935.983%2c218.236C889.641%2c220.016%2c841.785%2c231.122%2c817.114%2c270.391C791.003%2c311.95%2c791.854%2c365.563%2c816.905%2c407.769C841.461%2c449.141%2c887.893%2c469.243%2c935.983%2c470.659' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M941.9472378014651 630.2682918650776L1070.5093527682445 543.5520503767095 983.7931112798765 414.98993540993024 855.2309963130972 501.70617689829817z' fill='rgba(23%2c 54%2c 89%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(7%2c 42%2c 79%2c 1)'%3e%3c/rect%3e%3cpath d='M786.924%2c654.563C833.712%2c655.421%2c869.511%2c615.339%2c889.395%2c572.977C906.414%2c536.719%2c897.412%2c496.274%2c877.546%2c461.495C857.479%2c426.363%2c827.378%2c394.222%2c786.924%2c393.581C745.595%2c392.926%2c711.029%2c422.282%2c691.189%2c458.543C672.19%2c493.267%2c673.391%2c533.768%2c690.762%2c569.335C710.908%2c610.585%2c741.025%2c653.721%2c786.924%2c654.563' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1022.8903582794114 293.34818114586363L1143.8361237953432 363.1762514238322 1092.71842855738 172.40241562993188z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M605.6501194364927 537.273352964129L751.1117971072492 596.0436855970948 809.8821297402151 450.58200792633835 664.4204520694585 391.8116752933725z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1399.639%2c255.929C1423.224%2c255.191%2c1448.489%2c250.529%2c1460.472%2c230.201C1472.597%2c209.633%2c1464.899%2c184.936%2c1454.019%2c163.683C1441.735%2c139.688%2c1426.505%2c113.592%2c1399.639%2c111.374C1369.827%2c108.912%2c1341.562%2c127.015%2c1327.108%2c153.204C1313.098%2c178.589%2c1315.112%2c210.539%2c1331.836%2c234.225C1346.506%2c255.002%2c1374.217%2c256.724%2c1399.639%2c255.929' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M767.1743328576181-42.977444607457016L608.1163849429731-51.313318434981156 599.780511115449 107.74462947966373 758.838459030094 116.08050330718788z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-18.030927209748302 397.57358146619856L145.10584914302953 362.8977892027207 110.43005687955163 199.7610128499428-52.706719473226215 234.43680511342072z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M675.136%2c104.996C699.973%2c104.451%2c723.021%2c93.298%2c736.617%2c72.506C751.745%2c49.371%2c758.975%2c20.471%2c746.557%2c-4.225C732.962%2c-31.26%2c705.333%2c-51.728%2c675.136%2c-49.761C647.184%2c-47.941%2c631.321%2c-20.61%2c618.195%2c4.135C606.176%2c26.795%2c596.183%2c52.977%2c608.793%2c75.313C621.558%2c97.924%2c649.176%2c105.566%2c675.136%2c104.996' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M599.6092979465266 103.31122997155776L560.5583609850349 191.02107044248336 687.3191384174522 142.36216693304942z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M24.32633285503185 470.0803094841976L40.63247715397027 553.9681496222927 124.52031729206536 537.6620053233543 108.21417299312694 453.77416518525916z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1027.6066476351375 374.66890593300946L1043.474405843628 245.43638604772727 898.3741277498553 358.8011477245192z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M551.0736378147856 533.5374883140208L658.075495092028 500.82373757130716 625.3617443493142 393.8218802940647 518.3598870720718 426.53563103677845z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M520.191%2c314.616C537.136%2c314.491%2c553.118%2c305.786%2c561.289%2c290.941C569.197%2c276.576%2c566.109%2c259.624%2c558.44%2c245.13C550.122%2c229.41%2c537.974%2c213.55%2c520.191%2c213.268C502.081%2c212.981%2c488.371%2c227.938%2c479.783%2c243.884C471.701%2c258.89%2c469.57%2c276.759%2c478.025%2c291.558C486.542%2c306.467%2c503.021%2c314.743%2c520.191%2c314.616' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1283.07 439.45 a111.49 111.49 0 1 0 222.98 0 a111.49 111.49 0 1 0 -222.98 0z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M242.57261761045254 299.2167083139903L292.85626619075185 382.90275294390614 326.2586622403684 248.93305973369098z' fill='rgba(31%2c 86%2c 147%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


.instructions{
    margin-top: 20px;
    width: 50%;
    text-align:left;
    font-size: smaller;
}



.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;    
}

.verticalLine {
    width: 0px;
    border:0.5px solid #ededff;
    height: 30px;
    display: inline;
    margin: auto 5px;    

}

nav{
    z-index: 1000;
    overflow: hidden;
    background: #000030;
    
    border-radius: 35px;
    /* border:1px solid thistle; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: #ededff;
    height: 55px;
    margin:auto 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}


.registerform{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.registerTitle{
    font-weight: 600;
    font-size: large;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    display: inline;
    margin: auto 5px;    
}

.registerTitle:hover{
    color: goldenrod;
    cursor: pointer; 
}

.member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

.button{
    background-color: var(--secondary-color);
    color: #ededff;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-size: large;
    padding: 6px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.button:active, .button:active,.button:hover{
    box-shadow:orangered 1px 1px 10px;
}

@media only screen and (max-width: 900px) {
    .registerform{
        width: 70%;
    }
    .instructions{
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .registerform{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    .instructions{
        width: 85%;
    }
}