.register{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.registerform{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.registerTitle{
    font-weight: 600;
    font-size: large;
    color: white;
    letter-spacing: 2px;    
}

.member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

.button{
    background-color: #00009f;
    color: #ededff;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-size: large;
    border-radius: 4px;
    padding: 6px 20px;
}